services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
      POSTGRES_DB: mmh_miam
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  strapi:
    container_name: strapi
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    ports:
      - "1337:1337"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: ["npm", "run", "develop"]

  nuxt:
    container_name: nuxt
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["yarn", "run", "dev"]
    env_file:
      - ./frontend/.env
    depends_on:
      - strapi

volumes:
  postgres_data:
